<header th:fragment="header" class="header">
    <div class="top_bar">
        <div class="container">
            <div class="row">
                <div class="col d-flex flex-row">
                    <div class="phone"><span th:text="#{app.header.phone}"></span></div>
                    <div class="social">
                        <ul class="social_list">
                            <li class="social_list_item"><a target="_blank"
                                    href="https://www.youtube.com/user/finformaticaucm"><i class="fa fa-youtube"
                                        aria-hidden="true"></i></a></li>
                            <li class="social_list_item"><a target="_blank" href="https://twitter.com/informaticaucm"><i
                                        class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li class="social_list_item"><a target="_blank"
                                    href="https://www.instagram.com/informaticaucm/"><i class="fa fa-instagram"
                                        aria-hidden="true"></i></a></li>
                            <li class="social_list_item"><a target="_blank"
                                    href="https://www.linkedin.com/in/facultad-de-inform%C3%A1tica-9080a29b/"><i
                                        class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                    <div class="user_box ml-auto" sec:authorize="isAnonymous()">
                        <div class="user_box_login user_box_link"><a th:href="@{/auth}" th:text="#{app.header.login}">login</a></div>
                        <div class="user_box_register user_box_link"><a th:href="@{/auth/register}" th:text="#{app.header.register}">registro</a></div>
                    </div>
                    <div class="user_box ml-auto" sec:authorize="isAuthenticated()">
                        <div class="user_box_login user_box_link"><a th:href="@{/profile}"> <span th:text="#{app.header.welcome}"></span> <span sec:authentication="principal.name"></span></a></div>
                        <div class="user_box_register user_box_link"><a th:href="@{/logout}" th:text="#{app.header.logout}">Cerrar sesion</a></div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Main Navigation -->

    <nav class="main_nav">
        <div class="container">
            <div class="row">
                <div class="col main_nav_col d-flex flex-row align-items-center justify-content-start">
                    <div class="logo_container">
                        <div class="logo">
                            <a th:href="@{#}">
                                <img loading="lazy" th:src="@{/img/logo.png}" alt="">
                                <span th:text="#{app.title}">Agencia UCM</span>
                            </a>
                        </div>
                    </div>
                    <div class="main_nav_container ml-auto">
                        <ul class="main_nav_list">
                            <li class="main_nav_item"><a th:href="@{/index}" th:text="#{app.header.index}">índice</a></li>
                            <li class="main_nav_item"><a th:href="@{/about}" th:text="#{app.header.about}">sobre nosotros</a></li>
                            <li class="main_nav_item"><a th:href="@{/offers}" th:text="#{app.header.offers}">ofertas</a></li>
                        </ul>
                    </div>

                    <form id="search_form" class="search_form bez_1">
                        <input type="search" class="search_content_input bez_1" placeholder="" th:attr="placeholder=#{app.header.search}">
                    </form>

                    <div class="hamburger">
                        <i class="fa fa-bars trans_200"></i>
                    </div>
                </div>
            </div>
        </div>
    </nav>

</header>

<div th:fragment="responsive-header" class="menu trans_500">
    <div class="menu_content d-flex flex-column align-items-center justify-content-center text-center">
        <div class="menu_close_container">
            <div class="menu_close"></div>
        </div>
        <div class="logo menu_logo"><a th:href="@{#}"><img loading="lazy" th:src="@{/img/logo.png}" alt=""></a>
        </div>
        <ul>
            <li class="menu_item"><a th:href="@{/index}" th:text="#{app.header.index}">home</a></li>
            <li class="menu_item"><a th:href="@{/about}" th:text="#{app.header.about}">about us</a></li>
            <li class="menu_item"><a th:href="@{/offers}" th:text="#{app.header.offers}">offers</a></li>
            <li class="menu_item" sec:authorize="isAnonymous()"><a th:href="@{/auth}" th:text="#{app.header.login}">login</a></li>
            <li class="menu_item" sec:authorize="isAnonymous()"><a th:href="@{/auth/register}" th:text="#{app.header.register}">register</a></li>
            <li class="menu_item" sec:authorize="isAuthenticated()"><a th:href="@{/profile}" th:text="#{app.header.profile}">perfil</a></li>
            <li class="menu_item" sec:authorize="isAuthenticated()"><a th:href="@{/logout}" th:text="#{app.header.logout}">Cerrar sesion</a></li>
        </ul>
    </div>
</div>