<th:block th:fragment="modifyFlightForm">
    <form th:action="@{/profile/modifyFlight}" th:method="post">
        <div class="form-group">
            <p th:text="${'Código de vuelo: ' + flight.codeFlight}"></p>
        </div>
        <div class="form-group">
            <p th:text="${flight.weekDay}"></p>
        </div>
        <div class="form-group">
            <p th:text="${'Hora de llegada: ' + flight.arrivalTime}"></p>

        </div>
        <div class="form-group">
            <p th:text="${'Hora de salida: ' + flight.departureTime}"></p>
        </div>
        <div class="form-group">
            <label for="seats">Número de asientos</label>
            <input type="number" name="seats" id="seats" th:value="${flightInstance.seats}">
        </div>
        <div class="form-group">
            <button type="submit">Modificar</button>
        </div>
    </form>
</th:block>