<th:block th:fragment="modifyFlightForm">
    <form th:if="${flight != null}" th:action="@{/profile/modifyFlight}" th:method="post">
        <input type="hidden" name="idReservation" th:value="${flight.id}">
        <input type="hidden" name="idTravel" th:value="${idTravel}"/>
        <div class="form-group">
            <p th:text="${'Fecha de reserva: ' + flight.date}"></p>
        </div>
        <div class="form-group">
            <p th:text="${'Total de la reserva: ' + flight.total}"></p>
        </div>
        <div th:if="${flightInstance != null}" class="form-group">
            <label for="seats">Número de asientos</label>
            <input type="hidden" name="idFlightInstance" th:value="${flightInstance.idFlightInstance}">
            <input type="number" name="seats" min="1" id="seats" th:value="${flightInstance.seats}">
        </div>
        <div th:if="${errorVuelos != null}" class="form-group">
            <p class="text-danger" th:text="${errorVuelos}"></p>
        </div>
        <div th:if="${errorVuelos == null}" class="form-group">
            <button type="submit">Modificar</button>
        </div>
    </form>
    <div th:if="${flight == null}" class="d-flex justify-content-center p-4 m-4 text-uppercase badge badge-danger">¡Algo ha ido mal!</div>
</th:block>