<th:block th:fragment="scripts">
    <script th:src="@{/js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{/css/bootstrap4/popper.js}"></script>
    <script th:src="@{/css/bootstrap4/bootstrap.min.js}"></script>
    <script th:src="@{/plugins/OwlCarousel2-2.2.1/owl.carousel.js}"></script>
    <script th:src="@{/plugins/easing/easing.js}"></script>
    <script th:src="@{/plugins/parallax-js-master/parallax.min.js}"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</th:block>

<th:block th:fragment="scripts2">
    <script th:src="@{/plugins/greensock/TweenMax.min.js}"></script>
    <script th:src="@{/plugins/greensock/TimelineMax.min.js}"></script>
    <script th:src="@{/plugins/scrollmagic/ScrollMagic.min.js}"></script>
    <script th:src="@{/plugins/greensock/animation.gsap.min.js}"></script>
    <script th:src="@{/plugins/greensock/ScrollToPlugin.min.js}"></script>
</th:block>