#busqueda {
    margin: 1rem auto;
}

#fecha-entrada {
    margin: auto 0.5rem;
}

label {
    margin: 0.5rem;
}

input[type="text"] {
    background-color: rgb(210, 210, 210);
    margin: auto 1rem;
    border-radius: 5px;
}