<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Alojamientos</title>
    <div th:replace="~{/fragments/head :: links}"></div>
    <link rel="stylesheet" th:href="@{/css/index.css}">
</head>

<body>
    <nav th:replace="~{/fragments/navbar :: navbar}"></nav>
	<div class="container">
        <form action="/alojamientos" method="get" id="busqueda" class="row border border-danger border-3 border-rounded mt-3 mb-3">
            <div class="mb-3 col-auto">
                <label for="destino" class="form-label">Destino</label>
                <input type="text" class="form-control" id="destino" name="destino" placeholder="¿A dónde quieres ir?">
            </div>
            <div class="mb-3 col-auto">
                <label for="fecha-entrada" class="form-label">Fecha de entrada</label>
                <input type="date" id="fecha-entrada" name="fecha-entrada" class="form-control">
            </div>
            <div class="mb-3 col-auto">
                <label for="fecha-salida" class="form-label">Fecha de salida</label>
                <input type="date" id="fecha-salida" name="fecha-salida" class="form-control">
            </div>
            <div class="mb-3 col-auto">
                <label for="num-adultos" class="form-label">Número de adultos</label>
                <input type="number" class="form-control" id="num-adultos" name="num-adultos" value="1">
            </div>
            <div class="mb-3 col-auto">
                <label for="num-habitaciones" class="form-label">Número de habitaciones</label>
                <input type="number" class="form-control" id="num-habitaciones" name="num-habitaciones" value="1">
            </div>
            <div class="mb-3 col-auto d-flex align-items-end">
                <button type="submit" class="btn btn-primary" id="btnBuscar">Buscar</button>
            </div>
        </form>

        <img th:insert="~{/fragments/background-img :: background-img}">
        
	</div>

    <div th:replace="~{/fragments/scripts :: scripts}"></div>
    <script th:src="@{/js/alojamientos.js}"></script>
    <footer th:replace="~{/fragments/footer :: footer}"></footer>
</body>

</html>