<!DOCTYPE html>
<html lang="es">

<head>
    <title th:text="#{app.title}"></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/main_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/responsive.css}">
</head>

<body>
    <div class="super_container">
        <th:block th:insert="~{fragments/header :: header}"></th:block>
        <th:block th:insert="~{fragments/header :: responsive-header}"></th:block>
        <!-- Home -->
        <div class="home">
            <!-- Home Slider -->
            <div class="home_slider_container">
                <div class="owl-carousel owl-theme home_slider">
                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <!-- Image by https://unsplash.com/@anikindimitry -->
                        <div class="home_slider_background" style="background-image:url(img/home_slider.jpg)"></div>
                        <div class="home_slider_content text-center">
                            <div class="home_slider_content_inner" data-animation-in="flipInX"
                                data-animation-out="animate-out fadeOut">
                                <h1 th:text="#{app.index.discover}"></h1>
                                <h1 th:text="#{app.index.world}"></h1>
                                <div class="button home_slider_button">
                                    <div class="button_bcg"></div>
                                    <a th:href="@{#}" th:utext="#{app.index.explore} + '<span></span><span></span><span></span>'"><span></span><span></span><span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <div class="home_slider_background" style="background-image:url(img/home_slider.jpg)"></div>

                        <div class="home_slider_content text-center">
                            <div class="home_slider_content_inner" data-animation-in="flipInX"
                                data-animation-out="animate-out fadeOut">
                                <h1 th:text="#{app.index.discover}"></h1>
                                <h1 th:text="#{app.index.world}"></h1>
                                <div class="button home_slider_button">
                                    <div class="button_bcg"></div>
                                    <a th:href="@{#}" th:utext="#{app.index.explore} + '<span></span><span></span><span></span>'"><span></span><span></span><span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Slider Item -->
                    <div class="owl-item home_slider_item">
                        <div class="home_slider_background" style="background-image:url(img/home_slider.jpg)"></div>

                        <div class="home_slider_content text-center">
                            <div class="home_slider_content_inner" data-animation-in="flipInX"
                                data-animation-out="animate-out fadeOut">
                                <h1 th:text="#{app.index.discover}"></h1>
                                <h1 th:text="#{app.index.world}"></h1>
                                <div class="button home_slider_button">
                                    <div class="button_bcg"></div>
                                    <a th:href="@{#}" th:utext="#{app.index.explore} + '<span></span><span></span><span></span>'"><span></span><span></span><span></span></a>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>

                <!-- Home Slider Nav - Prev -->
                <div class="home_slider_nav home_slider_prev">
                    <svg version="1.1" id="Layer_2" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px"
                        viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                        <defs>
                            <linearGradient id='home_grad_prev'>
                                <stop offset='0%' stop-color='#fa9e1b' />
                                <stop offset='100%' stop-color='#8d4fff' />
                            </linearGradient>
                        </defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
					M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
					C22.545,2,26,5.541,26,9.909V23.091z" />
                        <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
					11.042,18.219 " />
                    </svg>
                </div>

                <!-- Home Slider Nav - Next -->
                <div class="home_slider_nav home_slider_next">
                    <svg version="1.1" id="Layer_3" xmlns="http://www.w3.org/2000/svg"
                        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px" height="33px"
                        viewBox="0 0 28 33" enable-background="new 0 0 28 33" xml:space="preserve">
                        <defs>
                            <linearGradient id='home_grad_next'>
                                <stop offset='0%' stop-color='#fa9e1b' />
                                <stop offset='100%' stop-color='#8d4fff' />
                            </linearGradient>
                        </defs>
                        <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
				M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
				C22.545,2,26,5.541,26,9.909V23.091z" />
                        <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
				17.046,15.554 " />
                    </svg>
                </div>

                <!-- Home Slider Dots -->

                <div class="home_slider_dots">
                    <ul id="home_slider_custom_dots" class="home_slider_custom_dots">
                        <li class="home_slider_custom_dot active">
                            <div></div>01.
                        </li>
                        <li class="home_slider_custom_dot">
                            <div></div>02.
                        </li>
                        <li class="home_slider_custom_dot">
                            <div></div>03.
                        </li>
                    </ul>
                </div>

            </div>

        </div>

        <!-- Search -->
        <div class="search">
            <!-- Search Contents -->
            <div class="container fill_height">
                <div class="row fill_height">
                    <div class="col fill_height">
                        <!-- Search Tabs -->
                        <div class="search_tabs_container">
                            <div
                                class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div
                                    class="search_tab active d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img loading="lazy" th:src="@{img/suitcase.png}" alt="">
                                    <span th:text="#{app.index.hotels}"></span>
                                </div>
                                <div
                                class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img loading="lazy" th:src="@{img/departure.png}" alt="">
                                    <span th:text="#{app.index.flights}"></span>
                                </div>
                                <div
                                    class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start">
                                    <img loading="lazy" th:src="@{img/departure.png}" alt="">
                                    <img loading="lazy" th:src="@{img/suitcase.png}" alt="">
                                    <span th:text="#{app.index.flight_hotel}"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Search Panel Hotel-->
                        <div class="search_panel active">
                            <form action="#" id="search_form_1"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>destination</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>check in</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>check out</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>adults</div>
                                    <select name="adults" id="adults_1" class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>children</div>
                                    <select name="children" id="children_1" class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button
                                    class="button search_button">search<span></span><span></span><span></span></button>
                            </form>
                        </div>

                        <!-- Search Panel Flight-->
                        <div class="search_panel">
                            <form action="#" id="search_form_2"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>destination</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>check in</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>check out</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>adults</div>
                                    <select name="adults" id="adults_2" class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>children</div>
                                    <select name="children" id="children_2" class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button
                                    class="button search_button">search<span></span><span></span><span></span></button>
                            </form>
                        </div>

                        <!-- Search Panel Flight + Hotel -->
                        <div class="search_panel">
                            <form action="#" id="search_form_3"
                                class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                <div class="search_item">
                                    <div>destination</div>
                                    <input type="text" class="destination search_input" required="required">
                                </div>
                                <div class="search_item">
                                    <div>check in</div>
                                    <input type="text" class="check_in search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>check out</div>
                                    <input type="text" class="check_out search_input" placeholder="YYYY-MM-DD">
                                </div>
                                <div class="search_item">
                                    <div>adults</div>
                                    <select name="adults" id="adults_3" class="dropdown_item_select search_input">
                                        <option>01</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <div class="search_item">
                                    <div>children</div>
                                    <select name="children" id="children_3" class="dropdown_item_select search_input">
                                        <option>0</option>
                                        <option>02</option>
                                        <option>03</option>
                                    </select>
                                </div>
                                <button
                                    class="button search_button">search<span></span><span></span><span></span></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Intro -->
        <div class="intro">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <h2 class="intro_title text-center" th:text="#{app.index.best_tours}"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-10 offset-lg-1">
                        <div class="intro_text text-center">
                            <p th:text="#{app.index.description_tours}"></p>
                        </div>
                    </div>
                </div>
                <div class="row intro_items">
                    <!-- Intro Item -->
                    <div class="col-lg-4 intro_col" th:each="flight, iterStat : ${flights}">
                        <div class="intro_item">
                            <div class="intro_item_overlay"></div>
                            <div class="intro_item_background" th:style="|background-image:url('img/intro_${iterStat.index + 1}.jpg')|"></div>
                            <div
                                class="intro_item_content d-flex flex-column align-items-center justify-content-center">
                                <div class="intro_date">May 25th - June 01st</div>
                                <div class="button intro_button">
                                    <div class="button_bcg"></div><a th:href="@{#}" th:utext="#{app.index.show_more} + '<span></span><span></span><span></span>'"></a>
                                </div>
                                <div class="intro_center text-center">
                                    <h1 th:text="${flight.countryDestination}"></h1>
                                    <div class="intro_price">From $1450</div>
                                    <div class="rating rating_4">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- CTA -->
        <div class="cta">
            <!-- Image by https://unsplash.com/@thanni -->
            <div class="cta_background" style="background-image:url(img/cta.jpg)"></div>
            <div class="container">
                <div class="row">
                    <div class="col">
                        <!-- CTA Slider -->
                        <div class="cta_slider_container">
                            <div class="owl-carousel owl-theme cta_slider" >
                                <!-- CTA Slider Item -->
                                <div class="owl-item cta_item text-center" th:each="entry: ${flightsAndHotels}">
                                    <div class="cta_title" th:text="|Paquete deluxe ${entry.key}|"></div>
                                    <div class="rating_r rating_r_4">
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                        <i></i>
                                    </div>
                                    <p class="cta_text">¡Vive una experiencia única con nuestro Paquete Deluxe, diseñado para aquellos que buscan lujo, confort y exclusividad en cada detalle! 🌍</p>
                                    <div class="button cta_button">
                                        <div class="button_bcg"></div><a th:href="@{#}" th:utext="#{app.index.book_now} + '<span></span><span></span><span></span>'"></a>
                                    </div>
                                </div>
                            </div>

                            <!-- CTA Slider Nav - Prev -->
                            <div class="cta_slider_nav cta_slider_prev">
                                <svg version="1.1" id="Layer_4" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px"
                                    height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33"
                                    xml:space="preserve">
                                    <defs>
                                        <linearGradient id='cta_grad_prev'>
                                            <stop offset='0%' stop-color='#fa9e1b' />
                                            <stop offset='100%' stop-color='#8d4fff' />
                                        </linearGradient>
                                    </defs>
                                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
								M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
								C22.545,2,26,5.541,26,9.909V23.091z" />
                                    <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
								11.042,18.219 " />
                                </svg>
                            </div>

                            <!-- CTA Slider Nav - Next -->
                            <div class="cta_slider_nav cta_slider_next">
                                <svg version="1.1" id="Layer_5" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px"
                                    height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33"
                                    xml:space="preserve">
                                    <defs>
                                        <linearGradient id='cta_grad_next'>
                                            <stop offset='0%' stop-color='#fa9e1b' />
                                            <stop offset='100%' stop-color='#8d4fff' />
                                        </linearGradient>
                                    </defs>
                                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
							M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
							C22.545,2,26,5.541,26,9.909V23.091z" />
                                    <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
							17.046,15.554 " />
                                </svg>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

        </div>

        <!-- Offers -->
        <div class="offers">
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="section_title" th:text="#{app.index.best_offers}"></h2>
                    </div>
                </div>
                <div class="row offers_items">

                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col" th:each="room, iterStat : ${rooms}">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <!-- Image by https://unsplash.com/@kensuarez -->
                                        <div class="offers_image_background"
                                            th:style="|background-image:url(img/offer_${iterStat.index + 1}.jpg)|"></div>
                                        <div class="offer_name"><a th:href="@{#}" th:text="${room.countryName}">grand castle</a></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">$70<span>per night</span></div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
                                        <div class="offers_icons">
                                            <ul class="offers_icons_list">
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/post.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/compass.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/bicycle.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/sailboat.png}" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="offers_link"><a th:href="@{/offers}">read more</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <!-- Image by Egzon Bytyqi -->
                                        <div class="offers_image_background"
                                            style="background-image:url(img/offer_2.jpg)"></div>
                                        <div class="offer_name"><a th:href="@{#}">turkey hills</a></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">$50<span>per night</span></div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
                                        <div class="offers_icons">
                                            <ul class="offers_icons_list">
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/post.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/compass.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/bicycle.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/sailboat.png}" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="offers_link"><a th:href="@{/offers}">read more</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <!-- Image by https://unsplash.com/@nevenkrcmarek -->
                                        <div class="offers_image_background"
                                            style="background-image:url(img/offer_3.jpg)"></div>
                                        <div class="offer_name"><a th:href="@{#}">island dream</a></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">$90<span>per night</span></div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
                                        <div class="offers_icons">
                                            <ul class="offers_icons_list">
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/post.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/compass.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/bicycle.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/sailboat.png}" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="offers_link"><a th:href="@{/offers}">read more</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <!-- Offers Item -->
                    <div class="col-lg-6 offers_col">
                        <div class="offers_item">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="offers_image_container">
                                        <!-- Image by https://unsplash.com/@mantashesthaven -->
                                        <div class="offers_image_background"
                                            style="background-image:url(img/offer_4.jpg)"></div>
                                        <div class="offer_name"><a th:href="@{#}">travel light</a></div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="offers_content">
                                        <div class="offers_price">$30<span>per night</span></div>
                                        <div class="rating_r rating_r_4 offers_rating">
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                            <i></i>
                                        </div>
                                        <p class="offers_text">Suspendisse potenti. In faucibus massa. Lorem ipsum dolor
                                            sit amet, consectetur adipiscing elit. Nullam eu convallis tortor.</p>
                                        <div class="offers_icons">
                                            <ul class="offers_icons_list">
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/post.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/compass.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/bicycle.png}" alt=""></li>
                                                <li class="offers_icons_item"><img loading="lazy"
                                                        th:src="@{img/sailboat.png}" alt="">
                                                </li>
                                            </ul>
                                        </div>
                                        <div class="offers_link"><a th:href="@{/offers}">read more</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <!-- Testimonials -->
        <div class="testimonials">
            <div class="test_border"></div>
            <div class="container">
                <div class="row">
                    <div class="col text-center">
                        <h2 class="section_title" th:text="#{app.index.client_testimonials}"></h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <!-- Testimonials Slider -->
                        <div class="test_slider_container">
                            <div class="owl-carousel owl-theme test_slider">

                                <!-- Testimonial Item -->
                                <div class="owl-item">
                                    <div class="test_item">
                                        <div class="test_image"><img loading="lazy" th:src="@{img/test_1.jpg}"
                                                alt="https://unsplash.com/@anniegray"></div>
                                        <div class="test_icon"><img loading="lazy" th:src="@{img/backpack.png}" alt="">
                                        </div>
                                        <div class="test_content_container">
                                            <div class="test_content">
                                                <div class="test_item_info">
                                                    <div class="test_name">maría rodríguez</div>
                                                    <div class="test_date">12 de Marzo de 2025</div>
                                                </div>
                                                <div class="test_quote_title">" ¡Viaje Inolvidable! "</div>
                                                <p class="test_quote_text">Fue una experiencia realmente increíble. 
                                                    Todo el equipo me ayudó a elegir el mejor destino y organización.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="owl-item">
                                    <div class="test_item">
                                        <div class="test_image"><img loading="lazy" th:src="@{img/test_2.jpg}"
                                                alt="https://unsplash.com/@tschax"></div>
                                        <div class="test_icon"><img loading="lazy" th:src="@{img/island_t.png}" alt="">
                                        </div>
                                        <div class="test_content_container">
                                            <div class="test_content">
                                                <div class="test_item_info">
                                                    <div class="test_name">carla gómez</div>
                                                    <div class="test_date">08 de Junio de 2024</div>
                                                </div>
                                                <div class="test_quote_title">" Excelente Servicio "</div>
                                                <p class="test_quote_text">La atención fue de primera. 
                                                    Me dieron recomendaciones fantásticas para disfrutar el viaje al máximo.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="owl-item">
                                    <div class="test_item">
                                        <div class="test_image"><img loading="lazy" th:src="@{img/test_3.jpg}"
                                                alt="https://unsplash.com/@seefromthesky"></div>
                                        <div class="test_icon"><img loading="lazy" th:src="@{img/kayak.png}" alt="">
                                        </div>
                                        <div class="test_content_container">
                                            <div class="test_content">
                                                <div class="test_item_info">
                                                    <div class="test_name">lucía martínez</div>
                                                    <div class="test_date">20 de Septiembre de 2024</div>
                                                </div>
                                                <div class="test_quote_title">"La Mejor Experiencia"</div>
                                                <p class="test_quote_text">Todo fue perfecto: el alojamiento, las actividades y la asesoría. 
                                                    ¡Definitivamente repetiría!</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="owl-item">
                                    <div class="test_item">
                                        <div class="test_image"><img loading="lazy" th:src="@{img/test_5.jpg}" alt="">
                                        </div>
                                        <div class="test_icon"><img loading="lazy" th:src="@{img/island_t.png}" alt="">
                                        </div>
                                        <div class="test_content_container">
                                            <div class="test_content">
                                                <div class="test_item_info">
                                                    <div class="test_name">Laura branigan</div>
                                                    <div class="test_date">15 de Julio de 2024</div>
                                                </div>
                                                <div class="test_quote_title">"La mejor atención"</div>
                                                <p class="test_quote_text">La calidad del servicio superó todas mis expectativas. 
                                                    Cada detalle estuvo perfectamente cuidado.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!-- Testimonial Item -->
                                <div class="owl-item">
                                    <div class="test_item">
                                        <div class="test_image"><img loading="lazy" th:src="@{img/test_4.jpg}" alt="">
                                        </div>
                                        <div class="test_icon"><img loading="lazy" th:src="@{img/backpack.png}" alt="">
                                        </div>
                                        <div class="test_content_container">
                                            <div class="test_content">
                                                <div class="test_item_info">
                                                    <div class="test_name">Luis García</div>
                                                    <div class="test_date">02 de Noviembre de 2024</div>
                                                </div>
                                                <div class="test_quote_title">"Escapa Perfecta"</div>
                                                <p class="test_quote_text">La tranquilidad del lugar y la gran variedad de actividades 
                                                    hicieron de este viaje una experiencia inolvidable.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!-- Testimonials Slider Nav - Prev -->
                            <div class="test_slider_nav test_slider_prev">
                                <svg version="1.1" id="Layer_6" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px"
                                    height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33"
                                    xml:space="preserve">
                                    <defs>
                                        <linearGradient id='test_grad_prev'>
                                            <stop offset='0%' stop-color='#fa9e1b' />
                                            <stop offset='100%' stop-color='#8d4fff' />
                                        </linearGradient>
                                    </defs>
                                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
								M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
								C22.545,2,26,5.541,26,9.909V23.091z" />
                                    <polygon class="nav_arrow" fill="#F3F6F9" points="15.044,22.222 16.377,20.888 12.374,16.885 16.377,12.882 15.044,11.55 9.708,16.885 11.04,18.219 
								11.042,18.219 " />
                                </svg>
                            </div>

                            <!-- Testimonials Slider Nav - Next -->
                            <div class="test_slider_nav test_slider_next">
                                <svg version="1.1" id="Layer_7" xmlns="http://www.w3.org/2000/svg"
                                    xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="28px"
                                    height="33px" viewBox="0 0 28 33" enable-background="new 0 0 28 33"
                                    xml:space="preserve">
                                    <defs>
                                        <linearGradient id='test_grad_next'>
                                            <stop offset='0%' stop-color='#fa9e1b' />
                                            <stop offset='100%' stop-color='#8d4fff' />
                                        </linearGradient>
                                    </defs>
                                    <path class="nav_path" fill="#F3F6F9" d="M19,0H9C4.029,0,0,4.029,0,9v15c0,4.971,4.029,9,9,9h10c4.97,0,9-4.029,9-9V9C28,4.029,23.97,0,19,0z
							M26,23.091C26,27.459,22.545,31,18.285,31H9.714C5.454,31,2,27.459,2,23.091V9.909C2,5.541,5.454,2,9.714,2h8.571
							C22.545,2,26,5.541,26,9.909V23.091z" />
                                    <polygon class="nav_arrow" fill="#F3F6F9" points="13.044,11.551 11.71,12.885 15.714,16.888 11.71,20.891 13.044,22.224 18.379,16.888 17.048,15.554 
							17.046,15.554 " />
                                </svg>
                            </div>

                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="contact">
            <div class="contact_background" style="background-image:url(img/contact.png)"></div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="contact_image"></div>
                    </div>
                    <div class="col-lg-7">
                        <div class="contact_form_container">
                            <div class="contact_title" th:text="#{app.index.contact_title}">get in touch</div>
                            <form action="#" id="contact_form" class="contact_form">
                                <input type="text" id="contact_form_name" class="contact_form_name input_field"
                                    th:placeholder="#{app.index.contact_name}" required="required" 
                                    th:attr="data-error=#{app.index.contact_name_required}">
                                <input type="text" id="contact_form_email" class="contact_form_email input_field"
                                    th:placeholder="#{app.index.contact_email}" required="required" 
                                    th:attr="data-error=#{app.index.contact_email_required}">
                                <input type="text" id="contact_form_subject" class="contact_form_subject input_field"
                                    th:placeholder="#{app.index.contact_subject}" required="required" 
                                    th:attr="data-error=#{app.index.contact_subject_required}">
                                <textarea id="contact_form_message" class="text_field contact_form_message"
                                    name="message" rows="4" th:placeholder="#{app.index.contact_message}"
                                    required="required" th:attr="data-error=#{app.index.contact_message_required}"></textarea>
                                <button type="submit" id="form_submit_button" class="form_submit_button button"
                                    th:utext="#{app.index.contact_send} + '<span></span><span></span><span></span>'"></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      <!-- Footer -->
      <th:block th:insert="~{fragments/footer :: footer}"></th:block>
      <!-- Copyright -->
      <th:block th:insert="~{fragments/copyright :: copyright}"></th:block>
    </div>
    <th:block th:insert="~{fragments/scripts :: scripts}"></th:block>
    <script th:src="@{js/custom.js}"></script>
</body>

</html>