<!DOCTYPE html>
<html lang="es">

<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{vendor/bootstrap/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{fonts/iconic/css/material-design-iconic-font.min.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/login-util.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/login.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/main_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/responsive.css}">
</head>

<body class="bg-light">

    <!-- Header -->

    <th:block th:insert="~{fragments/header :: header}"></th:block>

    <div class="limiter">
        <div class="container-login100" style="background-image: url('img/bg-01.jpg');">
            <div class="wrap-login100 m-t-200 p-l-55 p-r-55 p-t-100 p-b-54">
                <form class="login100-form validate-form" method="post" th:action="@{/auth}">
                    <span class="login100-form-title p-b-49">
                        Login
                    </span>
                    
                    <div th:if="${session.SPRING_SECURITY_LAST_EXCEPTION}" class="alert alert-danger">
                        <p th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}"></p>
                    </div>

                    <div class="wrap-input100 validate-input m-b-23">
                        <span class="label-input100">Email</span>
                        <input class="input100" type="text" name="email" placeholder="Email" required>
                        <span class="focus-input100" data-symbol="&#xf206;"></span>
                    </div>

                    <div class="wrap-input100 validate-input">
                        <span class="label-input100">Contraseña</span>
                        <input class="input100" type="password" name="password" placeholder="Contraseña" required>
                        <span class="focus-input100" data-symbol="&#xf190;"></span>
                    </div>

                    <div class="text-right p-t-8 p-b-31"></div>

                    <div class="container-login100-form-btn">
                        <div class="wrap-login100-form-btn">
                            <div class="login100-form-bgbtn"></div>
                            <button class="login100-form-btn">
                                Login
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Footer -->

    <th:block th:insert="~{fragments/footer :: footer}"></th:block>

    <!-- Copyright -->
    <th:block th:insert="~{fragments/copyright :: copyright}"></th:block>
</body>

</html>