<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title th:text="#{app.profile.title} + ' ' + ${#authentication.principal.name}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.1.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/profile.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/main_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/responsive.css}">
</head>

<body>
    <th:block th:insert="~{fragments/header :: header}"></th:block>
    <th:block th:insert="~{fragments/header :: responsive-header}"></th:block>

    <div id="mainContent" class="container">
        <form th:action="@{/profile/modifyTravel}" th:method="post">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <input type="hidden" name="bookingId" th:value="${booking.id}">
                        <label for="withBreakfast" class="form-label">Con desayuno</label>
                        <select class="form-control" name="withBreakfast" id="withBreakfast" required>
                            <option th:selected="${booking.withBreakfast == true}" value="true">Sí</option>
                            <option th:selected="${booking.withBreakfast == false}" value="false">No</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="peopleNumber" class="form-label">Número de personas</label>
                        <input class="form-control" type="number" name="peopleNumber" id="peopleNumber"
                            th:value="${booking.peopleNumber}" required min="1">
                    </div>
                    <div class="row">

                        <div th:each="room : ${roomList}">
                            <div class="card col-auto m-1" th:if="${room.available == true}">
                                <!-- <img class="card-img-top" src=".../100px180/" alt="Card image cap"> -->
                                <div class="card-body">
                                    <input type="hidden" name="roomId" th:value="${room.roomDTO.id}">
                                    <h5 class="card-title" th:text="${'Habitación número ' + room.roomDTO.number}">
                                        Título
                                    </h5>
                                    <p th:text="${'Precio por día: ' + room.roomDailyPrice + '€'}">Precio por día</p>
                                    <div class="form-group">
                                        <label for="startDate" class="form-label">Fecha de entrada</label>
                                        <input class="form-control" type="date" name="startDate" id="startDate"
                                            th:value="${room.startDate}" required>
                                        startdate
                                    </div>
                                    <div class="form-group">
                                        <label for="endDate" class="form-label">Fecha de salida</label>
                                        <input class="form-control" type="date" name="endDate" id="endDate"
                                            th:value="${room.endDate}" required>
                                        enddate
                                    </div>
                                    <div class="form-group">
                                        <label for="numberOfNights" class="form-label">Número de noches</label>
                                        <input class="form-control" type="number" name="numberOfNights"
                                            id="numberOfNights" th:value="${room.numberOfNights}" required min="1">
                                        numberofnights
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">

                    <input type="hidden" name="idReservation" th:value="${flight.id}">
                    <div class="form-group">
                        <p th:text="${'Código de vuelo: ' + flight.codeFlight}"></p>
                    </div>
                    <div class="form-group">
                        <p th:text="${flight.weekDay}"></p>
                    </div>
                    <div class="form-group">
                        <p th:text="${'Hora de llegada: ' + flight.arrivalTime}"></p>

                    </div>
                    <div class="form-group">
                        <p th:text="${'Hora de salida: ' + flight.departureTime}"></p>
                    </div>
                    <div class="form-group">
                        <label for="seats">Número de asientos</label>
                        <input type="number" name="seats" id="seats" th:value="${flightInstance.seats}">
                    </div>
                </div>
                <div class="form-group col">
                    <button class="btn btn-success" type="submit">Modificar</button>
                </div>
            </div>
        </form>
    </div>

    <th:block th:insert="~{fragments/footer :: footer}"></th:block>
    <th:block th:insert="~{fragments/copyright:: copyright}"></th:block>
    <th:block th:insert="~{fragments/scripts :: scripts}"></th:block>
</body>

</html>