<!DOCTYPE html>
<html lang="es">

<head>
    <title th:text="#{app.offers.title}"></title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="Travelix Project">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <th:block th:insert="~{fragments/head :: head}"></th:block>
    <link rel="stylesheet" type="text/css" th:href="@{css/offers_styles.css}">
    <link rel="stylesheet" type="text/css" th:href="@{css/offers_responsive.css}">

</head>
<body>
    <div class="super_container">
        <th:block th:insert="~{fragments/header :: header}"></th:block>
        <th:block th:insert="~{fragments/header :: responsive-header}"></th:block>

        <!-- Home -->
        <div class="home">
            <div class="home_background parallax-window" data-parallax="scroll"
                data-image-src="img/about_background.jpg"></div>
            <div class="home_content">
                <div class="home_title" th:text="#{app.offers.intro}"></div>
            </div>
        </div>
        <!-- Offers -->
        <div class="offers">
            <!-- Search -->
            <div class="search">
                <div class="search_inner">
                    <!-- Search Contents -->
                    <div class="container fill_height no-padding">
                        <div class="row fill_height no-margin">
                            <div class="col fill_height no-padding">
                                <!-- Search Tabs -->
                                <div class="search_tabs_container">
                                    <div
                                        class="search_tabs d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                        <div
                                            class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" th:classappend="${activePanel == 1} ? 'active' : ''">
                                            <img loading="lazy" th:src="@{img/suitcase.png}" alt=""><span th:text="#{app.index.hotels}"></span>
                                        </div>
                                        <div
                                            class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" th:classappend="${activePanel == 2} ? 'active' : ''">
                                            <img loading="lazy" th:src="@{img/departure.png}" alt=""><span th:text="#{app.index.flights}"></span>
                                        </div>
                                        <div
                                            class="search_tab d-flex flex-row align-items-center justify-content-lg-center justify-content-start" th:classappend="${activePanel == 3} ? 'active' : ''">
                                            <img loading="lazy" th:src="@{img/departure.png}" alt="">
                                            <img loading="lazy" th:src="@{img/suitcase.png}" alt=""><span th:text="#{app.index.flight_hotel}"></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- Search Panel -->
                                <div class="search_panel" th:classappend="${activePanel == 1} ? 'active' : ''">
                                    <form th:action="@{/offers/hotel}" id="search_form_1" method="post"
                                        class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                        <div class="search_item">
                                            <div th:text="#{app.index.hotel.input.search}"></div>
                                            <input type="text" name="hotel" class="destination search_input" th:value="${hotel}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.hotel.input.country}"></div>
                                            <input type="text" name="country" class="destination search_input"  th:value="${country}">
                                        </div>
                                        <button class="button search_button" th:utext="#{app.index.submit} + '<span></span><span></span><span></span>'"></button>
                                    </form>
                                </div>
                                <!-- Search Panel -->
                                <div class="search_panel" th:classappend="${activePanel == 2} ? 'active' : ''">
                                    <form th:action="@{/offers/flight}" id="search_form_2" method="post"
                                        class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.search}"></div>
                                            <input type="text" name="countryOrigin" class="destination search_input" th:value="${countryOrigin}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.destination}"></div>
                                            <input type="text" name="countryDestination" class="destination search_input" th:value="${countryDestination}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.search.city}"></div>
                                            <input type="text" name="cityOrigin" class="destination search_input" th:value="${cityOrigin}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.search.city.destination}"></div>
                                            <input type="text" name="cityDestination" class="destination search_input" th:value="${cityDestination}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.date}"></div>
                                            <input type="text" name="date" class="check_in search_input" placeholder="dd/MM/yyyy" th:value="${date}">
                                        </div> 
                                        <button class="button search_button" th:utext="#{app.index.submit} + '<span></span><span></span><span></span>'"></button>
                                    </form>
                                </div>
                                <!-- Search Panel -->
                                <div class="search_panel" th:classappend="${activePanel == 3} ? 'active' : ''">
                                    <form th:action="@{/offers/flightAndHotel}" id="search_form_3" method="post"
                                        class="search_panel_content d-flex flex-lg-row flex-column align-items-lg-center align-items-start justify-content-lg-between justify-content-start">
                                        <div class="search_item">
                                            <div th:text="#{app.index.hotel.input.search}"></div>
                                            <input type="text" name="hotel" class="destination search_input" th:value="${hotel}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.search}"></div>
                                            <input type="text" name="countryOrigin" class="destination search_input" th:value="${countryOrigin}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.destination}"></div>
                                            <input type="text" name="countryDestination" class="destination search_input" th:value="${countryDestination}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.search.city}"></div>
                                            <input type="text" name="cityOrigin" class="destination search_input" th:value="${cityOrigin}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.search.city.destination}"></div>
                                            <input type="text" name="cityDestination" class="destination search_input" th:value="${cityDestination}">
                                        </div>
                                        <div class="search_item">
                                            <div th:text="#{app.index.air.input.date}"></div>
                                            <input type="text" name="date" class="check_in search_input" placeholder="dd/MM/yyyy" th:value="${date}">
                                        </div> 
                                        <button class="button search_button" th:utext="#{app.index.submit} + '<span></span><span></span><span></span>'"></button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Contenedor de Items -->
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <!-- HOTEL -->
                        <div class="offers_grid" th:if="${listRoom}">
                            <!-- Offers Item -->
                            <div class="offers_item rating_5" th:each="room : ${listRoom}">
                                <div class="row">
                                    <div class="col-lg-1 temp_col"></div>
                                    <div class="col-lg-3 col-1680-4">
                                        <div class="offers_image_container">
                                            <div class="offers_image_background"
                                                style="background-image:url(img/offer_6.jpg)"></div>
                                            <div class="offer_name"><a th:href="@{/single_listing}" th:text="${room.countryName}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="offers_content">
                                            <div class="offers_price" th:text="#{app.offers.order.price(${room.dailyPrice})}"><span th:text="#{app.offers.pernight}"></span></div>
                                            <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                            </div>
                                            <p class="offers_text" th:text="#{app.offers.hotel.description(${room.hotelName}, ${room.singleBed} ? 'SI' : 'NO', ${room.peopleNumber})}"></p>
                                            <div class="offers_icons">
                                                <ul class="offers_icons_list">
                                                    <li class="offers_icons_item"><img th:src="@{img/post.png}" alt="">
                                                    </li>
                                                    <li class="offers_icons_item"><img th:src="@{img/compass.png}"
                                                            alt=""></li>
                                                    <li class="offers_icons_item"><img th:src="@{img/bicycle.png}"
                                                            alt=""></li>
                                                    <li class="offers_icons_item"><img th:src="@{img/sailboat.png}"
                                                            alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="button book_button"><a th:href="@{'/checkout/hotel/' + ${room.id}}" th:utext="#{app.offers.booking} + '<span></span><span></span><span></span>'"></a></div>
                                            <div class="offer_reviews">
                                                <div class="offer_reviews_content">
                                                    <div class="offer_reviews_title" th:text="#{app.offers.good}"></div> 
                                                    <div class="offer_reviews_subtitle" th:text="#{app.offers.review(${room.number})}">100 reviews</div>
                                                </div>
                                                <div class="offer_reviews_rating text-center">8.1</div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>  
                        <!-- AEROLINEA -->
                        <div class="offers_grid" th:if="${listFlight}">
                            <!-- Offers Item -->
                            <div class="offers_item rating_5" th:each="flight : ${listFlight}">
                                <div class="row">
                                    <div class="col-lg-1 temp_col"></div>
                                    <div class="col-lg-3 col-1680-4">
                                        <div class="offers_image_container">
                                            <div class="offers_image_background"
                                                style="background-image:url(img/offer_7.jpg)"></div>
                                            <div class="offer_name"><a th:href="@{/single_listing}" th:text="${flight.countryDestination} + ',' + ${flight.cityDestination}"></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-8">
                                        <div class="offers_content">
                                            <div class="offers_price" th:text="#{app.offers.order.price(${flight.price})}"><span th:text="#{app.offers.pernight}"></span></div>
                                            <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                                <i></i>
                                            </div>
                                            <p class="offers_text" th:text="#{app.offers.flight.description(${flight.departureDate}, ${flight.weekDay}, ${flight.departureDate})}"></p>
                                            <div class="offers_icons">
                                                <ul class="offers_icons_list">
                                                    <li class="offers_icons_item"><img th:src="@{img/post.png}" alt="">
                                                    </li>
                                                    <li class="offers_icons_item"><img th:src="@{img/compass.png}"
                                                            alt=""></li>
                                                    <li class="offers_icons_item"><img th:src="@{img/bicycle.png}"
                                                            alt=""></li>
                                                    <li class="offers_icons_item"><img th:src="@{img/sailboat.png}"
                                                            alt=""></li>
                                                </ul>
                                            </div>
                                            <div class="button book_button"><a th:href="@{'/checkout/-1/' + ${flight.id}}" th:utext="#{app.offers.flight} + '<span></span><span></span><span></span>'"></a></div>
                                            <div class="offer_reviews">
                                                <div class="offer_reviews_content">
                                                    <div class="offer_reviews_title" th:text="#{app.offers.good}"></div> 
                                                    <div class="offer_reviews_subtitle">100 reviews</div>
                                                </div>
                                                <div class="offer_reviews_rating text-center">9.0</div>
                                            </div>                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                         <!-- AEROLINEA + HOTEL -->  
                         <div class="offers_grid" th:if="${mapPackage}">
                            <!-- Offers Item -->
                            <th:block th:each="entry : ${mapPackage}" >
                                <th:block th:each="flight : ${entry.value.listFlight}">
                                    <div th:each="room : ${entry.value.listHotel}" class="offers_item rating_5">
                                        <div class="row">
                                            <div class="col-lg-1 temp_col"></div>
                                            <div class="col-lg-3 col-1680-4">
                                                <div class="offers_image_container">
                                                    <div class="offers_image_background"
                                                        style="background-image:url(img/offer_7.jpg)"></div>
                                                    <div class="offer_name"><a th:href="@{'/checkout/' + ${room.id} + '/' + ${flight.id}}" th:text="${entry.key}"></a>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="col-lg-8">
                                                <div class="offers_content">
                                                    <div class="offers_price" th:text="#{app.offers.order.price(${flight.price + room.dailyPrice})}"><span th:text="#{app.offers.pernight}"></span></div>
                                                    <div class="rating_r rating_r_5 offers_rating" data-rating="5">
                                                        <i></i>
                                                        <i></i>
                                                        <i></i>
                                                        <i></i>
                                                        <i></i>
                                                    </div>
                                                    <p class="offers_text" th:text="#{app.offers.hotel.description(${room.hotelName}, ${room.singleBed} ? 'SI' : 'NO', ${room.peopleNumber})}"></p>
                                                    <p class="offers_text" th:text="#{app.offers.flight.description(${flight.departureDate}, ${flight.weekDay}, ${flight.departureDate})}"></p>
                                                    <div class="offers_icons">
                                                        <ul class="offers_icons_list">
                                                            <li class="offers_icons_item"><img th:src="@{img/post.png}" alt="">
                                                            </li>
                                                            <li class="offers_icons_item"><img th:src="@{img/compass.png}"
                                                                    alt=""></li>
                                                            <li class="offers_icons_item"><img th:src="@{img/bicycle.png}"
                                                                    alt=""></li>
                                                            <li class="offers_icons_item"><img th:src="@{img/sailboat.png}"
                                                                    alt=""></li>
                                                        </ul>
                                                    </div>
                                                    <div class="button book_button"><a th:href="@{'/checkout/' + ${room.id} + '/' + ${flight.id}}" th:utext="#{app.offers.flight} + '<span></span><span></span><span></span>'"></a></div>
                                                    <div class="offer_reviews">
                                                        <div class="offer_reviews_content">
                                                            <div class="offer_reviews_title" th:text="#{app.offers.good}"></div> 
                                                            <div class="offer_reviews_subtitle">100 reviews</div>
                                                        </div>
                                                        <div class="offer_reviews_rating text-center">9.0</div>
                                                    </div>                                            
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </th:block>
                            </th:block>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <th:block th:insert="~{fragments/footer :: footer}"></th:block>
        <th:block th:insert="~{fragments/copyright :: copyright}"></th:block>
    </div>
    <script th:src="@{js/jquery-3.2.1.min.js}"></script>
    <script th:src="@{css/bootstrap4/popper.js}"></script>
    <script th:src="@{css/bootstrap4/bootstrap.min.js}"></script>
    <script th:src="@{plugins/Isotope/isotope.pkgd.min.js}"></script>
    <script th:src="@{plugins/easing/easing.js}"></script>
    <script th:src="@{plugins/parallax-js-master/parallax.min.js}"></script>
    <script th:src="@{js/offers_custom.js}"></script>

</body>

</html>